<div class="row ">
    <div class="col-lg-8">
        <app-calendar></app-calendar>
    </div>
    <div class="col-lg-4" style="margin-top: 45px;">
        <div class="col-xl-12">
            <app-card cardTitle="Próximos Eventos" [options]="false" blockClass="table-border-style">
                <div class="table-responsive">
                    <table class="table table-columned">
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <b>Caso Fernando Morales</b>
                                    </div>
                                    <div>
                                        Audiencia
                                    </div>
                                    <div>
                                        Mañana 9:00 a.m
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <b>Caso Fernando Morales</b>
                                    </div>
                                    <div>
                                        Audiencia
                                    </div>
                                    <div>
                                        Mañana 9:00 a.m
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <b>Caso Fernando Morales</b>
                                    </div>
                                    <div>
                                        Audiencia
                                    </div>
                                    <div>
                                        Mañana 9:00 a.m
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</div>