<p style="text-align: center;">
    Esta pantalla permite realizar la gestión de las sentencias
</p>
<hr>
<form>
    <div class="mb-3 row">
        <!-- Campo de búsqueda -->
        <div class="col-lg-8">
            <div class="input-group w-50">
                <span class="input-group-text" id="icon-search">
                    <i class="bi bi-search"></i>
                </span>
                <input type="search" class="form-control" placeholder="Buscar..." aria-label="Buscar"
                    aria-describedby="icon-search" />
            </div>
        </div>
        <div class="col-sm-4" style="display: flex; justify-content: end;">
            <button type="button" (click)="openModal()" class="btn btn-secondary"
                style="display: flex; justify-content: center; align-items: center; border-color: transparent;">
                <i class="feather icon-plus-circle" style="font-size: 20px; padding-right: 8px;"></i>
                Crear Plantilla
            </button>
        </div>
    </div>
</form>
<div class="table-outer">
    <table class="table table-bordered" style="text-align: center;">
        <thead>
            <tr class="table-primary">
                <th scope="col">Proceso</th>
                <th scope="col">Expediente</th>
                <th scope="col">Fecha Sentencia</th>
                <th scope="col">Cliente</th>
                <th scope="col">Abogado a Cargo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="table align-middle">
            @for (country of countries$ | async; track country.proceso) {
            <tr>
                <td>{{ country.proceso }}</td>
                <td>
                    {{ country.expediente }}
                </td>
                <td>
                    {{country.area.toLocaleDateString('es-ES', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    })}}
                </td>
                <td>
                    {{ country.cliente}}
                </td>
                <td>
                    {{ country.abogado}}
                </td>
                <!-- <td>{{ country.area.getFullYear() +"/"+country.area.getMonth()+"/"+country.area.getDate() }}</td> -->
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-md btn-outline-secondary">
                            <i class="feather icon-search"></i>
                        </button>
                        <button type="button" class="btn btn-md btn-outline-primary">
                            <i class="feather icon-edit-2"></i>
                        </button>
                        <button type="button" class="btn btn-md btn-outline-danger">
                            <i class="feather icon-trash-2"></i>
                        </button>
                        <button type="button" class="btn btn-md btn-outline-success">
                            <i class="feather icon-download"></i>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="10">10 items</option>
        <option [ngValue]="20">20 items</option>
        <option [ngValue]="50">50 items</option>
    </select>
</div>